<main class="container">
  <div class="header">
    <h1>Quotes</h1>
    <%= link_to "New quote", new_quote_path, class: "btn btn--primary" %>
  </div>

  <% if @quotes.present? %>
    <%= render @quotes %>

  <% else %>
    <div class="container-center">
      <span>Write a quote</span>
    </div>
  <% end %>

</main>
