<main class="container">

  <div class="header container__between">
    <h1>New quote</h1>
    <%= link_to sanitize("&larr; Back to quotes"), quotes_path %>
  </div>

  <%= turbo_frame_tag @quote do %>
    <%= render "form", quote: @quote %>
  <% end %>
</main>
