.header {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s);
  justify-content: space-between;
  margin-bottom: var(--space-l);
  margin-top: var(--space-m);

  @include tablet {
    margin-bottom: var(--space-xl);
  }
}
