.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--space-xs);
  padding-right: var(--space-xs);
  width: 100%;

  @include tablet {
    padding-right: var(--space-m);
    padding-left: var(--space-m);
    max-width: 60rem;
  }

  &__center {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__between {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}
